{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Form Pasien Baru</title>
{% endblock meta %}

{% block content %}
<h2>DAFTARKAN PASIEN BARU</h2>
<form class="mt-4 border p-4" style="max-width: 640px;" action="" method="post">
  {% csrf_token %}
  <div class="form-group">
    <label for="NIK">NIK: </label>
    <input type="text" class="form-control" id="NIK" name="NIK">
  </div>
  <div class="form-group">
    <label for="Nama">Nama: </label>
    <input type="text" class="form-control" id="Nama" name="Nama">
  </div>
  <div class="form-group">
    <label for="Tanggal">Tanggal Lahir: </label>
    <input type="date" class="form-control" id="Tanggal" name="Tanggal">
  </div>
  <div class="form-group">
    <label for="Alamat">Alamat: </label>
    <input type="text" class="form-control" id="Alamat" name="Alamat">
  </div>
  <div class="form-group">
    <label for="Pekerjaan">Pekerjaan: </label>
    <input type="text" class="form-control" id="Pekerjaan" name="Pekerjaan">
  </div>
  <button type="submit"> Next </button>
</form>
{% endblock content %}
