{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Form Rumah Ibadah</title>
{% endblock meta %}

{% block content %}
<h2>DAFTARKAN RUMAH IBADAH</h2>
<form class="mt-4 border p-4" style="max-width: 640px;" action="" method = "post">
  {% csrf_token %}
  <div class="form-group">
    <label for="noSertif">Nomor Sertifikat: </label>
    <input type="text" class="form-control" id="No Sertif" name="noSertif"><br>
  </div>
  <div class="form-group">
    <label for="Nama">Nama: </label>
    <input type="text" class="form-control" id="Nama" name="Nama"><br>
  </div>
  <div class="form-group">
    <label for="Alamat">Alamat: </label>
    <input type="text" class="form-control" id="Alamat" name="Alamat"><br>
  </div> 
  <div class="form-group">
    <label for="Jenis">Jenis: </label>
    <input type="text" class="form-control" id="Jenis" name="Jenis"><br>
  </div>
  <button type="submit"> Next </button>
</form>
{% endblock content %}
