<style>
  #profile{
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    margin: 0;
  }
</style>




<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/">SIDONA</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link {% if request.resolver_match.url_name == 'home' %} active{% endif %}" href="/">Home</a>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Penggalangan Dana
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'penggalangan_dana:daftar' %}">Daftar Penggalangan Dana</a>
          <a class="dropdown-item" href="{% url 'penggalangan_dana:daftar_admin' %}">Daftar Penggalangan Dana (Admin)</a>
          <a class="dropdown-item" href="{% url 'penggalangan_dana:daftar_PD' %}">Daftar Penggalangan Dana (Penggalang Dana)</a>
          <a class="dropdown-item" href="{% url 'penggalangan_dana:komorbid' %}">Kelola Komorbid</a>
          <a class="dropdown-item" href="{% url 'penggalangan_dana:create_PD_category' %}">Buat Penggalangan Dana</a>
          <a class="dropdown-item" href="{% url 'penggalangan_dana:form_update' %}">Form Update</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Donasi
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/donasi">Data Donasi Penggalangan Dana</a>
        </div>
      </li>
      <a class="nav-item nav-link" href="/pencairan/profile" id="profile">Profile</a>

      </li>
    </div>
  </div>
</nav>
