{% extends 'base.html' %} {% load static %} {% load humanize %} {% block meta %}
<title>Penggalangan Dana</title>
{% endblock meta %} {% block content %}
<h1>Halaman Daftar Penggalangan Dana (POV Pengguna)</h1>
<table class="table table-striped" style="font-size: smaller">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Judul</th>
      <th scope="col">Kota</th>
      <th scope="col">Provinsi</th>
      <th scope="col">Tanggal Berakhir</th>
      <th scope="col">Sisa Hari</th>
      <th scope="col" colspan="2">Target Dana</th>
      <th scope="col">Kategori</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for pd in pds %}
    <tr>
      <th scope="row">{{pd.id}}</th>
      <td>{{pd.judul}}</td>
      <td>{{pd.kota}}</td>
      <td>{{pd.provinsi}}</td>
      <td>{{pd.tanggal_aktif_akhir}}</td>
      <td>{{pd.sisa_hari}}</td>
      <td style="white-space: nowrap; font-family: monospace">Rp</td>
      <td
        class="text-right"
        style="white-space: nowrap; font-family: monospace"
      >
        {{pd.jumlah_dibutuhkan|floatformat:"0"|intcomma}}
      </td>
      <td>{{pd.nama_kategori}}</td>
      <td>
        <a href="../pencairan/detailPenggalangan">[Detail]</a> <br />
        <a href="../donasi/form-donasi">[Donasi]</a> <br />
        <a href="#">[+Wishlist]</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}
