{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Hello, world!</title>
{% endblock meta %}

{% block content %}
<h1>Detail Penggalangan Dana</h1>
<form class="mt-4 border p-4" style="max-width: 640px;">
  <h4>Informasi Umum Penggalangan Dana</h4>
  <div class="form-group">
    <label>ID Penggalangan Dana</label>
    <input type="text" class="form-control" placeholder="K-001" readonly>
  </div>
  <div class="form-group">
    <label>Email</label>
    <input type="email" class="form-control" placeholder="user@sidona.com" readonly>
  </div>
  <div class="form-group">
    <label>Judul</label>
    <input type="text" class="form-control" name="Judul" value="Ayo bantu Zulfahri menghadapi penyakit Demam Berdarahnya!" readonly>
  </div>
  <div class="form-group">
    <label>Deskripsi</label>
    <input type="text" class="form-control" name="Deskripsi" value="Bantu Zulfahri berobat untuk sembuh dari demam berdarah" readonly>
  </div>
  <div class="form-group">
    <label>Provinsi</label>
    <input type="text" class="form-control" name="provinsi" value="Jawa Barat" readonly>
  </div>
  <div class="form-group">
    <label>Deadline Penggalangan Dana</label>
    <input type="text" class="form-control" name="deadline" value="7 Desember 2021" readonly>
  </div>
  <div class="form-group">
    <label>Jumlah Target Dana (Rupiah)</label>
    <input type="text" class="form-control" name="target" value="Rp. 1000000" readonly>
  </div>
  <hr />
  <h4>Informasi Tambahan Penggalangan Dana</h4>
  <div class="form-group">
    <label>Kategori</label>
    <input type="text" class="form-control" name="category"value={{category}} readonly>
  </div>
  {% if category == "Kesehatan" %}
  <div class="form-group">
    <label>NIK Pasien:</label>
    <input type="text" class="form-control" name="NIK" value="125678945678" readonly>
  </div>
  <div class="form-group">
    <label>Nama Pasien:</label>
    <input type="text" class="form-control" name="namaPasien" value="Zulfahri" readonly>
  </div>
  <div class="form-group">
    <label>Penyakit Utama:</label>
    <input type="text" class="form-control" name="penyakit" value="Nama" readonly>
  </div>
  
  {% elif category == "Rumah Ibadah" %}
  <div class="form-group">
    <label>Nomor Sertifikat Rumah Ibadah:</label>
    <input type="text" class="form-control" name="noSertif" value = "123" readonly>
  </div>
  <div class="form-group">
    <label>Kategori Aktivitas:</label>
    <input type="text" class="form-control" name="aktivitas" value = "Bangun" readonly>
  </div>
  {% endif %}
  <div class="form-group">
    <label>Berkas Penggalangan Dana:</label>
    <input type="text" class="form-control" name="berkas" value="www.google.com" readonly>
  </div>
  <div class="form-group">
    <label>Catatan Pengajuan:</label>
    <input type="text" class="form-control" name="Catatan" value="-" readonly>
  </div>
  <div class="form-group">
    <label>Jumlah Dana Terkumpul:</label>
    <input type="text" class="form-control" name="berkas" value="Rp. 5000000" readonly>
  </div>
  <table
  class="table table-striped table-xl table-responsive"
  >
  <thead>
    <tr>
      <th scope="col">Email</th>
      <th scope="col">Timestamp</th>
      <th scope="col">Nominal</th>
      <th scope="col">Doa</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">cek@gmail.com</th>
      <td>2021-11-20 16:10:10</td>
      <td>Rp. 5000000</td>
      <td>Amin</td>
    </tr>
  </tbody>
  </table>
  <div class="form-group">
    <label>Jumlah Terpakai:</label>
    <input type="text" class="form-control" name="berkas" value="Rp. 2000000" readonly>
  </div>
  <table
  class="table table-striped table-sm table-responsive"
  style="font-size: small"
  >
  <thead>
    <tr>
      <th scope="col">Waktu</th>
      <th scope="col">Timestamp</th>
      <th scope="col">Nominal</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">2021-11-20 18:10:10</th>
      <td>Rp. 2000000</td>
      <td>Dicairkan</td>
    </tr>
  </tbody>
  </table>
</form>
{% endblock content %}
