{% extends 'base.html' %} {% load static %} {% block meta %}
<title>Form Update Penggalangan Dana</title>
{% endblock meta %} {% block content %}
<h1>Form Update Penggalangan Dana</h1>
<form class="mt-4 border p-4" style="max-width: 640px;">
  <h4>Informasi Umum Penggalangan Dana</h4>
  <div class="form-group">
    <label>ID Penggalangan Dana</label>
    <input type="text" class="form-control" placeholder="K-001" readonly>
  </div>
  <div class="form-group">
    <label>Email</label>
    <input type="email" class="form-control" placeholder="user@sidona.com" readonly>
  </div>
  <div class="form-group">
    <label>Judul</label>
    <input type="text" class="form-control" placeholder="Masukkan judul">
  </div>
  <div class="form-group">
    <label>Deskripsi</label>
    <input type="text" class="form-control" placeholder="Masukkan kota">
  </div>
  <div class="form-group">
    <label>Kota</label>
    <input type="text" class="form-control" placeholder="Masukkan provinsi">
  </div>
  <hr />
  <h4>Informasi Tambahan Penggalangan Dana</h4>
  <div class="form-group">
    <label>Something</label>
    <input type="text" class="form-control" placeholder="Masukkan">
  </div>
  <button type="submit" class="btn btn-primary">Update</button>
</form>
{% endblock content %}
