{% extends 'base.html' %} 
{% load static %}

{% block content %}

<h1>Form Pembuatan Donasi</h1>
<form class="mt-4 border p-4" style="max-width: 640px;">
  <h4>Informasi Umum Donasi</h4>
  <div class="form-group">
    <label>Email</label>
    <input type="text" class="form-control" placeholder="hahahha@gmail.com" disabled>
  </div>
  <div class="form-group">
    <label>Timestamp</label>
    <input type="text" class="form-control" placeholder="2021-11-27   14:32:50" disabled>
  </div>
  <div class="form-group">
    <label>Judul Penggalangan Dana</label>
    <input type="text" class="form-control" placeholder="Ayo bantu Zulfahri menghadapi penyakit Demam Berdarahnya!" disabled>
  </div>
  <div class="form-group">
    <label>Nominal (Rupiah)</label>
    <input type="text" class="form-control" placeholder="Masukkan nominal yang ingin didonasikan">
  </div>
  <div class="form-group">
    <label for="FormControlSelect">Metode Bayar</label>
    <select class="form-control" id="FormControlSelect">
      <option>Transfer</option>
      <option>DonaPay</option>
    </select>
  </div>
  <div class="form-group">
    <label for="FormControlSelect2">Status Anonim</label>
    <select class="form-control" id="FormControlSelect2">
      <option>Ya</option>
      <option>Tidak</option>
    </select>
  </div>
  <div class="form-group">
    <label for="FormControlTextarea">Doa</label>
    <textarea class="form-control" id="FormControlTextarea" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Create</button>
</form>

{% endblock content %}